.wrapper {
  flex-grow: 1;
  padding-top: 4rem;
  position: relative;
  overflow: hidden;
}

.title {
  padding: 1rem;
  font-size: 4rem;
  z-index: 2;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 6rem;
  }
}

@media screen and (min-width: 600px) {
  .title {
    text-align: center;
    font-size: 6.5rem;
  }
}
