.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  border-radius: 5px;
  padding: 2rem;
  background-color: var(--secondary-background-color);
}

.btn {
  width: 100px;
  padding: 1rem;
}

.input {
  border-radius: 5px;
  padding: 10px;
}

.img {
  border-radius: 5px;
  display: block;
  width: 70%;
}

.error {
  color: red;
  font-style: italic;
}

.tip {
  color: yellow;
}

.question {
  font-size: 2rem;
}
