@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=La+Belle+Aurore&family=Nunito:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --text-color: #48424d;
  --white-color: #ffffff;
  --background-color: #022c43
  --main-color: #ffd336;
}

body {
  margin: 0;
  min-height: 100vh;
  height: 100%;

  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--text-color);
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: rgb(235, 238, 241);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200);
  border-radius: 20px;
  border: 3px solid var(--main-color);
}

a {
  margin: 0;
  text-decoration: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

@media screen and (min-width: 1024px) {
  #root {
    flex-direction: row;

  }
}
