.not_found {
  text-align: center;
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.img {
  width: 70%;
  border-radius: 5px;
}

.answer {
  font-family: 'La Belle Aurore', 'serif';
  font-size: 1.4rem;
}

.text {
  font-size: 2.5rem;
}

.await {
  font-weight: 600;
}

.description_alt {
  font-weight: 200;
}
